{% extends 'base.html' %}

{% block content %}

<section class="page-hero">

    <div class="container text-center">

        <h1 class="page-title">

            Contact TheGuardEye

        </h1>

        <p class="page-subtitle">

            Let’s discuss your cybersecurity challenges.

        </p>

    </div>

</section>

<section class="contact-section">

    <div class="container">

        <div class="row">

            <div class="col-lg-6 mb-4">

                <div class="glass-card">

                    <h3 class="mb-4">

                        Send Us A Message

                    </h3>

                    <form method="POST">

    {% csrf_token %}

    {% if success %}

        <div class="alert alert-success">

            Message sent successfully.

        </div>

    {% endif %}

    <div class="mb-3">

        {{ form.full_name }}

    </div>

    <div class="mb-3">

        {{ form.email }}

    </div>

    <div class="mb-3">

        {{ form.subject }}

    </div>

    <div class="mb-3">

        {{ form.message }}

    </div>

    <button class="btn-primary-custom">

        Send Message

    </button>

</form>
                        

                </div>

            </div>

            <div class="col-lg-6">

                <div class="glass-card h-100">

                    <h3 class="mb-4">

                        Contact Information

                    </h3>

                    <p>
                        Nairobi, Kenya
                    </p>

                    <p>
                        security@theguardeye.com
                    </p>

                    <p>
                        +254 XXX XXX XXX
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}